body {
  margin: 0;
}

#container {
  width: 4800px;
  height: 1440px;
  background-color: #87ceeb;
  display: grid;
  grid-template-columns: repeat(auto-fill, 3rem);
  grid-template-rows: repeat(auto-fill, 3rem);
  cursor: default;
}

.grass {
  background-image: url("assets/images/blocks/grass.webp");
  background-size: cover;
}

.dirt {
  background-image: url("assets/images/blocks/dirt.webp");
  background-size: cover;
}

.stone {
  background-image: url("assets/images/blocks/stone.webp");
  background-size: cover;
}

.bedrock {
  background-image: url("assets/images/blocks/bedrock.webp");
  background-size: cover;
}

.cell:hover {
  border: 0.5px solid black;
}

#menu {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: no-repeat center url("assets/images/menu-background.jpg");
  background-size: cover;
  z-index: 1;
}

#menu img {
  margin-bottom: 1%;
}

button {
  margin: 0.5%;
  width: 30%;
  height: auto;
  font-size: 200%;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  color: wheat;
  background-color: rgb(146, 125, 98);
  /* font-family: inherit; */
  border: 1px solid rgb(158, 156, 127);
  border-radius: 4px;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
}

.menuNone{
  display: none !important; 
}

#tools {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 60px;
  left: 20px;
  gap: 5px;
}

#tools button {
  background: none;
  border: 0;
}

#tools button img {
  width: 40px;
  height: 40px;
}
