body {
  margin: 0;
}

#container {
  width: 4800px;
  height: 1440px;
  background-color: #87ceeb;
  display: grid;
  grid-template-columns: repeat(auto-fill, 3rem);
  grid-template-rows: repeat(auto-fill, 3rem);
}

.grass {
  background-image: url("assets/images/blocks/grass.webp");
  background-size: cover;
}

.dirt {
  background-image: url("assets/images/blocks/dirt.webp");
  background-size: cover;
}

.stone {
  background-image: url("assets/images/blocks/stone.webp");
  background-size: cover;
}

.bedrock {
  background-image: url("assets/images/blocks/bedrock.webp");
  background-size: cover;
}

.oak-log {
  background-image: url("assets/images/blocks/oak-log.webp");
  background-size: cover;
}
.oak-leaves {
  background-image: url("assets/images/blocks/oak-leaves.webp");
  background-size: cover;
}

.cell:hover {
  border: black 0.5px solid;
}
